name: Static code checkers

on:
  push:
    branches:
      - 'master'
  pull_request:

permissions: {}

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
      - run: mypy --install-types --non-interactive .

  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
      - run: pyright

  ruff:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
      - run: ruff check

  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
      - run: flake8
