name: Check requirements file consistency

on:
  push:
    branches:
      - 'master'
  pull_request:

permissions: {}

jobs:
  requirements-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
        with:
          dev: false
      - run: ./requirements/update_requirements.py
      - run: git diff --exit-code
